@import '../../scss/variables/colors.module.scss';

.main {
    width: 25%;
    text-align: center;

    padding: 1rem;

    &:hover {

        img {
            transform: scale(1.1);
        }



        .main_image_cerkle {
            transform: scale(1.1);
        }
    }

    &_image {
        overflow: hidden;

        img {
            transition: 0.3s;
            position: relative;
            z-index: 9;
            height: 100% !important;
            width: 100%;
        }

        &_cerkle {
            background-color: $primary50;
            border-radius: 50%;
            width: 70%;
            height: 57%;
            position: absolute;
            bottom: 15%;
            left: 15%;
            border: dotted 3px #FFFFFF;
            box-shadow: 0 0 0 3px $primary50;
            filter: blur(5px);
            transition: 0.3s ease-in-out;
        }
    }

    h1 {
        text-align: center;
        line-height: 120%;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 600;
    }

    p {

        color: #6F6F87;
        margin: 0;
        font-size: 15px;

    }
}

@media(max-width:970px) {
    .main {
        width: 100%;
    }
}