.card_start {
    h4 {
        line-height: 120%;
        font-size: 16px;
        letter-spacing: 0;
    }

    p {
        color: #6F6F87;
        margin: 0;
        font-size: 14px;
    }
}

.w-50 {
    width: 50%;
}

.custom-table .ant-table-cell {
    border-top: none !important;
}

.cart_count {

    display: flex;
    align-items: center;

    &_th {
        margin: 0 5px;
        text-align: center;
        height: 50px;
        width: 60px;
        background-color: #F9FAFC;
        position: relative;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        border: none;
    }

    &_btn {
        border-radius: 50%;
        background-color: #ee1d23;
        color: white;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border: none;
        transition: 0.3s ease-in-out;
    }
}