.main {


    &_head {
        h1 {
            line-height: 110%;
            font-size: 40px;
            letter-spacing: -2px;
            margin-bottom: 30px;
            font-weight: 600;
        }

        p {
            color: #6F6F87;
            margin: 0;
            font-size: 15px;
        }
    }
}

@media(max-width:768px) {
    .main {


        &_head {
            flex-direction: column !important;
            gap: 1rem;

            h1 {
                font-size: 30px;
            }
        }
    }
}