@import "../../scss/variables/colors.module.scss";

.main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    &_mob {
        display: none;
    }

    &_baner {
        padding: $mainPadding;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;

        &_tools {



            h1 {
                font-size: 65px;
                font-weight: 700;
            }

            p {
                font-size: 35px !important;
                font-weight: 600;
            }

            h1,
            p {
                color: white !important;
            }

            &_btn {
                display: flex;
                gap: 1rem;
                width: fit-content;

                &_b {
                    height: 50px;
                    width: 200px;
                }
            }

        }
    }

}


@media(max-width:1200px) {
    .main {
        max-width: 960px;
    }
}

@media(max-width:970px) {
    .main {
        max-width: 720px;

        &_mob {
            display: block;
        }

        &_desk {
            display: none;
        }
    }
}

@media(max-width:768px) {
    .main {
        max-width: 540px;
    }
}