@import '../../scss/variables/colors.module.scss';

.main {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 34%, rgba(249, 250, 252, 1) 34%, rgba(249, 250, 252, 1) 68%, rgba(255, 255, 255, 1) 68%);

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    padding: 20px 0;

    &_container {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        max-width: $maxWidth;
        padding: 0 1rem;
        width: 100%;
        align-items: center;
        margin: 0 auto;

        &_image {
            overflow: hidden;
            width: 100%;
            height: 90%;
            box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.1);

            position: relative;

            div {
                height: 100%;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        h1 {
            line-height: 100%;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: -3px;
            margin-bottom: 10px;
        }

        p {
            color: #6F6F87;
            margin: 0;
            font-size: 16px;
            margin-bottom: 10px;
        }

        &_btn {
            width: fit-content;
            background-color: $primary50;
            color: #F9FAFC;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            height: 55px;
            font-weight: 600;
            font-size: 14px;
        }

        &_cercle {
            transition: 0.3s;
            background-color: #F2F3F5;
            box-shadow: 0 0 0 2px #FFFFFF;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0 !important;
            margin: 0;
            width: 55px;
            height: 55px;

            &:hover {
                background-color: $primary50;
            }
        }
    }
}

.abs {
    position: absolute;
}


.cirkle {
    z-index: 9;
    position: absolute;
    width: 55px;
    left: -25px;
    top: -100px;

    height: 55px !important;
    background-color: $primary50;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
}

.cirkle2 {
    position: absolute;
    z-index: 4;
    height: 70px;
    right: 18%;
    width: 70px;
    border-radius: 50%;
    border: solid 15px #FFFFFF;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.09), 0 3px 6px 0 rgba(0, 0, 0, 0.09);
}

.cirkle3 {
    z-index: 9;
    position: absolute;
    width: 55px;
    top: -16rem;
    right: 0;
    height: 55px !important;
    background-color: $primary50;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
}


@media(max-width:1200px) {
    .main_container {
        max-width: 960px;
    }
}

@media(max-width:768px) {
    .main_container {
        max-width: 540px;
        flex-wrap: wrap-reverse;
    }
}